{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block body %}
    <h1 class="mb-4 fw-bold">Create new Team</h1>

    {{ include('team/_form.html.twig') }}

    <a href="{{ path('app_team_index') }}" class="btn btn-secondary mt-3">⟵ Return</a>
{% endblock %}
