{% extends 'base.html.twig' %}

{% block title %}New Tache{% endblock %}

{% block body %}
    <h1 class="mb-4 fw-bold">Create new Tache</h1>

    {{ include('tache/_form.html.twig') }}

    <a href="{{ path('app_tache_index') }}" class="btn btn-secondary mt-3">⟵ Return</a>
{% endblock %}
