{% extends 'base.html.twig' %}

{% block title %}New Projet{% endblock %}

{% block body %}
    <h1 class="mb-4 fw-bold">Create new Projet</h1>

    {{ include('projet/_form.html.twig') }}

    <a href="{{ path('app_projet_index') }}" class="btn btn-secondary mt-3">⟵ Return</a>
{% endblock %}
